/* general */

* {
  font-family: 'Open Sans', sans-serif;
}

html, body, .view {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: silver;
}

html {

}

form {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  height: 20px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input[type="text"], textarea {
  background-color : dimgrey;
  opacity: 0.8;
  color: silver;
}

button {
  color: silver;
  font-size: 18px;
  text-align: center;
  background-color: dimgrey;
  opacity: 0.8;
  padding: 8px 30px 8px 30px;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  transition: color: 0.3s, box-shadow: 0.3s, broder: 0.3s;
}

button:hover {
  color: black;
  border: solid 1px #707070;
  box-shadow: 0 0 6px black, 0 0 10px black;
  cursor: pointer;
}

button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:active {
  box-shadow: 0 0 5px 1px #969696;
}

/* search */

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.search {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://static.pexels.com/photos/30222/pexels-photo-30222.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-color: hsla(0,0%,0%,0.50);
  background-blend-mode: overlay;
}

/* results */

.results {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-color: hsla(0,0%,0%,0.75);

}

.results button {
  height: 42px;
}

.formAndButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
}

.artistsContainer {
  width: 30%;
  padding: 65px 10px 0 10px;
}

.artistsContainer div {
  width: 100%;
}

.artist {
  margin: 20px auto 20px auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 3px;
}

.artist:hover {
  cursor: pointer;
}

.albums, .more {
  padding-left: 25px;
}
